
@media screen and(min-width:360px) and(max-width:1000px){

}

img{
    float:left;
    margin-right:70px;
    margin-top:20px;
    background-color:peachpuff;
    border-radius:40px;
    padding:10px;
}
 .about{
    width:1500px;
    font-size:29px;
}
.column{
    display:flex;
    justify-content:space-evenly;
    font-size:25px;
}
.project{
    font-size:25px;
    align-self:center; 
    position:relative; 
}
h3{
    font-size:30px;  
}
h1{
    position:relative;
    color:blue;;
    align-self: center;
    left:650px;
    margin-bottom:30px;
}
.more{
    display:flex;
    justify-content:space-evenly;
    font-size:25px;  
}
#bord{
    border:5px solid blue;
    align-items:center;
    margin:100px;
    background-color:peachpuff;
    padding:20px;
}

