
@media screen and(min-width:360px) and(max-width:1000px){

}

img{
    float:left;
    margin-right: 40px;
    margin-top:20px;
    background-color:peachpuff;
    border:5px teal;
    padding:10px;
}
 .about{
    width:px;
    font-size:29px;
}
.column{
    display:flex;
    justify-content:space-evenly;
    font-size:25px;
}
.project{
    font-size:25px;
    align-self:center;  
}
h3{
    font-size:30px;  
}
h1{
    position:relative;
    color:blue;;
    align-self: center;
    left:600px;
    margin-bottom:30px;
}
.more{
    display:flex;
    justify-content:space-evenly;
    font-size:25px;  
}
#bord{
    border:1px solid blue;
    align-items:center;
    margin-left:100px;
}

